.Rproj.user/
.Rhistory
.DS_Store
data/
output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook and Jupyter lab
.ipynb_checkpoints/
*-checkpoint.ipynb
*-checkpoint.py
*-checkpoint.R
